body {
    background-color: #fee2f8;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

th {
    padding: 10px;
    border-bottom: 2px solid grey;
    background-color: #BCFFB9;
    color: black;
}

td {
    padding: 10px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

tr:nth-child(even) {
    background-color: #F5FDB0;
}

.removeBtn {
    background-color: red;
    border: none;
}

.removeBtn:hover{
    cursor: pointer;
}

.btnAndFormContainer {
    height: 100vh;
    width: 300px;
    margin-right: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#add-book {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgba(55, 204, 9, 0.933);
    color: white;
    font-size: xx-large;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

#add-book:hover {
    cursor: pointer;
}

form {
    background-color: #BCFFB9;
    width: 300px;
    position: absolute;
    top: 25rem;
    display: none;
}

#ok-btn {
    background-color: #F7E6AD;
    width: 100px;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

#ok-btn:hover {
    cursor: pointer;
}